*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%; /* 1 rem = 10px*/
}

body{
    font-size: 1.4rem;
    font-family: Arial;
    color: white;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1E2337;
}

.part2{
    background-color: gold;
}

.part3{
    background-color: orangered;
}

.modal-container{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(136, 222, 136, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-details{
    background-color: white;
    width: 50%;
    text-align: center;
    position: relative;
    padding: 3rem;
    color: #1E2337;
}

.modal-details i{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    padding: 1rem;
    color: grey;
    cursor: pointer;
}

.modal-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.code{
    display: none;
    background-color: black;
    color: white;
    font-family: monospace;
    padding: 1rem;
}

.btn-success{
    height: 4rem;
    background-color: rgb(231, 171, 61);
    color: white;
    padding: 1rem;
    border: none;
    width: 100%;
}